/* overall appearance of website */
:root {
    background-color: black;
    color: white;
}

/* introduction loading page title appearance */
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 100vw;
    font-size: 100px;
    font-family: 'Sedgwick Ave';
    text-shadow: 0px 5px 5px orange, 0px 10px 10px red;
    color: yellow;
}

/* hover function for loading page title text */
#loading:hover {
    color: red;
}

/* loading script appearance on loading page */
.loadingScript {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    font-family: 'Sedgwick Ave';
    text-shadow: none;
    width: 100vw;
    margin-bottom: 200px;
    padding: 30px;
    font-size: 60px;
    text-shadow: 0px 3px 3px white;
}

/* loading page text appearance */
#loadingPara {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: none;
    width: 100vw;
    margin-bottom: 200px;
    padding: 30px;
    font-size: 30px;
    text-shadow: 0px 3px 3px white;
}

/* main page header appearance */
header {
    color: yellow;
    border: 5px solid white;
    padding: 5px;
    font-family: 'Sedgwick Ave';
    text-shadow: 0px 5px 5px orange, 0px 10px 10px red;
    background-image: linear-gradient(to bottom, black, darkgray);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px white;
    opacity: .9;
}

/* navbar position and appearance */
nav {
    position: bottom;
    text-shadow: 0px 0px 0px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* user instructions box */
.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15vh;
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 2px gray;
    border: 5px solid white;
    font-size: 22px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px white;
    background-image: linear-gradient(to bottom, black, darkgray);
    opacity: .9;
}

/* user input box styling */
input {
    border-radius: 5px 5px 5px 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: white;
    color: darkslategray;
    width: 70vw;
    height: 4vh;
    opacity: .9;
}

/* user input search box positioning */
#search-bar{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

/* user input search button appearance */
#mainSearch {
    border-radius: 5px 5px 5px 5px;
    width: 100px;
    height: 32px;
    border: 2px solid white;
    font-family: 'Sedgwick Ave';
    font-weight: bolder;
    font-size: 18px;
    background-color: red;
    color: white;
    opacity: .9;
}

/* user input search button hover function */
#mainSearch:hover {
    cursor: pointer;
}

/* user input search button active function appearance */
#mainSearch:active {
    background-color: white;
    color: red;
    border: 2px solid red;
    box-shadow: 2px 2px 2px red;
    transform: translateY(2px);
}

#dropdownContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* artist search button appearance */
#artistSearch {
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 7vh;
    border: 5px solid white;
    font-family: 'Sedgwick Ave';
    font-weight: bolder;
    font-size: 25px;
    background-color: red;
    color: white;
    box-shadow: 5px 5px 5px white;
}

/* artist search button hover appearance */
#artistSearch:hover {
    cursor: pointer;
}

/* artist search button active appearance */
#artistSearch:active {
    background-color: white;
    color: red;
    border: 5px solid red;
    box-shadow: 5px 5px 5px red;
    transform: translateY(4px);
}

/* artist list search results appearance */
.artistList {
    color: red;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: 0px 2px 2px white;
}

/* country search button appearance */
#countrySearch {
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 7vh;
    border: 5px solid white;
    font-family: 'Sedgwick Ave';
    font-weight: bolder;
    font-size: 25px;
    background-color: red;
    color: white;
    box-shadow: 5px 5px 5px white;
}

/* country search button hover appearance */
#countrySearch:hover {
    cursor: pointer;
}

/* country search button active appearance */
#countrySearch:active {
    background-color: white;
    color: red;
    border: 5px solid red;
    box-shadow: 5px 5px 5px red;
    transform: translateY(4px);
}

/* country search results appearance */
.countryList {
    color: red;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: 0px 2px 2px white;
}

/* song results display, positioning and appearance */
#song-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: red;
    font-weight: bold;
    text-shadow: 0px 2px 2px white;
    border: 5px solid white;
    font-size: 22px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px white;
    background-image: linear-gradient(to bottom, black, darkgray);
    opacity: .9;
}

/* footer positioning and appearance */
footer {
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    padding: 5px;
    background-image: linear-gradient(to bottom, black, darkgray);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px white;
    opacity: .9;
}