:root {
    background-color: black;
    color: white;
}

header {
    color: yellow;
    border: 5px solid white;
    padding: 5px;
    text-shadow: 0px 5px 5px orange, 0px 10px 10px red;
    background-image: linear-gradient(to bottom, black, darkgray);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px white;
    opacity: .9;
}

nav {
    position: bottom;
    text-shadow: 0px 0px 0px;
    font-weight: bolder;
}

input {
    border-radius: 5px 5px 5px 5px;
    border: none;
    width: 82vw;
    height: 30px;
}

#mainSearch {
    border-radius: 5px 5px 5px 5px;
    width: 14vw;
    height: 32px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 18px;
    background-color: red;
    color: white;
}

#mainSearch:hover {
    cursor: pointer;
}

#mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#artist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px 10px 10px 10px;
    width: 27vw;
    height: 300px;
    box-shadow: 5px 5px 5px white;
    background-image: linear-gradient(to bottom, black, darkgray);
    opacity: .9;
}

#artistSearch {
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 14vw;
    height: 32px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 25px;
    background-color: red;
    color: white;
}

#artistSearch:hover {
    cursor: pointer;
}

.artistList {
    color: red;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: 0px 2px 2px white;
}

#genre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px 10px 10px 10px;
    width: 27vw;
    height: 300px;
    box-shadow: 5px 5px 5px white;
    background-image: linear-gradient(to bottom, black, darkgray);
    opacity: .9;
}

#genreSearch {
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 14vw;
    height: 32px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 25px;
    background-color: red;
    color: white;
}

#genreSearch:hover {
    cursor: pointer;
}

.genreList {
    color: red;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: 0px 2px 2px white;
}

#country {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px 10px 10px 10px;
    width: 27vw;
    height: 300px;
    box-shadow: 5px 5px 5px white;
    background-image: linear-gradient(to bottom, black, darkgray);
    opacity: .9;
}

#countrySearch {
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 14vw;
    height: 32px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 25px;
    background-color: red;
    color: white;
}

#countrySearch:hover {
    cursor: pointer;
}

.countryList {
    color: red;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: 0px 2px 2px white;
}

footer {
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    padding: 5px;
    background-image: linear-gradient(to bottom, black, darkgray);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px white;
    opacity: .9;
}